<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session + Cookies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>



    <style>
      body{
        background-color: white;
        color: black;
        
        
      }
        .contenedor{
          width: 250px;
          margin: auto;
        }
  
        button {
          width: 200px;
        }

        img {
          border: 5px solid blue;
          transition: all 2s;
        }
        img:hover{
          border-color: tomato;
        }
      </style>
    
    <h1>Session + Cookies</h1>

    <p>Visitas...<%= visitas %> <br> (si das F5 permanece constante)</p>
    <p><a href="/">volver al home</a></p>
    

    <img src="images/gato.gif" alt="" width="300px">

</body>
</html>